cmake_minimum_required(VERSION 3.5)
set (CMAKE_CXX_STANDARD 11)


project(${Problem.Score})
add_executable(${Problem.Name} ${Problem.Name}.cpp)
add_definitions(-g -O2 -Wreturn-type -Wcomment -Wunused-variable -Wunused-parameter -Wno-sign-compare)
